{%load static%}


{% if all_Sell_flat %}
        <hr/>
      <h3 class="text-center">Your all Sell Post for flat</h3>
      <hr/>
       
      {%  for p in all_Sell_flat %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xl-4 col-xxl-4">
        <div class="card h-100">
          <img src="{{p.flat_image.url}}" class="card-img-top img-thumbnail h-50" alt="Rent image">
          <div class="card-body">
            <h5 class="card-title">Divison:{{ p.divission }}</h5>
            <p class="card-text">
             District:{{ p.district }}.<br/>
              Floor No:{{p.floors_count }}<br/>
              Floor Face:{{p.floor_face }}</br>
              Price:{{p.price }}</p>
          </div>
          <div class="d-flex m-2 justify-content-between">
            <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
              DELETE
                       
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
              <a   class="btn btn-primary btn-sm" href="{% url 'updatepost' p.id %}">
                EDIT
              </a>
              </button>

   <!-- Modal -->

   <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Do You want to delete?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">  <a class="btn btn-primary btn-sm" id="ToastBtn"  href="{% url 'deletesellflat' p.id %}">Yes</a>  </button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal -->
          </div>
          <div class="card-footer">
            <small class="text-muted">Post Time: {{ p.date_added  }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
      {%else%}
      <div class="alert alert-info" role="alert">
        <h2>You have no sell post .Please add a post to see your posts!!</h2>
      </div>
     
      {%endif%}
       




{% if Sell_land %}
<hr/>
<h3 class="text-center">Your all Sell Post for Land</h3>
<hr/>
 
{%  for p in Sell_land %}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xl-4 col-xxl-4">
  <div class="card h-100">
    <img src="{{p.land_image.url}}" class="card-img-top img-thumbnail h-50" alt="Rent image">
    <div class="card-body">
      <h5 class="card-title">Divison:{{ p.divission }}</h5>
      <p class="card-text">
       District:{{ p.district }}.<br/>
        Floor No:{{p.floors_count }}<br/>
        Floor Face:{{p.floor_face }}</br>
        Price:{{p.price }}</p>
    </div>
    <div class="d-flex m-2 justify-content-between">
      <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter2">
        DELETE
                 
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
        <a   class="btn btn-primary btn-sm" href="{% url 'updatepost' p.id %}">
          EDIT
        </a>
        </button>

<!-- Modal -->

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Do You want to delete?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   Are you sure?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">  <a class="btn btn-primary btn-sm" id="ToastBtn"  href="{% url 'deletesellland' p.id %}">Yes</a>  </button>
  </div>
</div>
</div>
</div>
<!-- modal -->
    </div>
    <div class="card-footer">
      <small class="text-muted">Post Time: {{ p.date_added  }}</small>
    </div>
  </div>
</div>
{% endfor %}
{%else%}
<div class="alert alert-info" role="alert">
  <h2>You have no post .Please add a post to see your posts!!</h2>
</div>

{%endif%}
 

